
header{
    text-align: right;
    height: 125px;
    display: block;
    background-color: #005500;
}

nav{
    display: block;
    text-align: center;
    
}

ul{
    list-style: none;
    padding-top: 40px;
}
.logo{
    border-radius:50%;
    float: left;
    image-rendering: inline-block;
    top: -27px;
    position: relative;
}

.nav-op{
    font-size: 24pt;
    display: inline-block;
    padding: 10px;
}
